main {
    background-image: url(../../img/background-we-are.png);
    height: 820px;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;

    img {
        margin-left: 100px;
        margin-top: 140px;
        float: left;
    }

    .weare {
        margin: auto;
        width: 533px;
        height: 240px;

        h2 {
            @extend h2;
            font-size: $ftsize50;
            font-weight: $fontw600;
        }

        .texteviolet {
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            line-height: 1.63;
            font-size: $ftsize20;
            font-family: $poppins;
        }

    }



    p:nth-child(3) {
        margin-bottom: 20px;
        padding: $padding5;

    }

    button {
        @extend button;
        padding: 15.4px 52px;
        border-radius: $borderradus25;
        margin-top: $margintop25;
        font-size: 12px;
    }

}

//RESPONSIVE


@media(max-width: 900px) {
    main {
        display: block;
    }
}

@media(max-width: 576px) {
    main {
        height: auto;

        img {
            display: none;
        }

        .weare {
            margin: auto;
            width: auto;
            height: 240px;
            text-align: center;

        }
    }
}