.mouse {
    width: 80px;
    height: 80px;
    box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
    border-radius: 60px;
    display: block;
    margin: 0 auto;

    img {
        margin: 0 auto;
        display: flex;
        padding-top: 20px;
        margin-top: 150px;
    }

}

@media(max-width: 900px) {
    .mouse {
        img {
            margin-top: 80px;
        }
    }
}

@media(max-width: 576px) {
    .mouse {
        margin-bottom: 50px;

    }
}