//Variables

//Colors
$colorblue: #6156F9;
$colorwhite: white;
$colorwhite2: #f6f7fb;
$colortitre: #707070;
$colortitre2: #42495B;
$colorp: #7A839E;
$colorlogo: #484848;
$royal: #1a129f;
$bgtxtviolet: hsla(244, 92%, 72%, 0.15);
$txtviolet: #7f76f9;
$colorprice:#1000ff;
$colorinput: #999999;
$colorfooter: #1A129F;

//Padding
$inputpadding: 18px 305px 17px 30px;
$inputpadding2: 9px 152px 8px 15px;
$padding15: 15px;
$paddingbtn: 13px 40px;
$padding5: 5px;

//FONT
$poppins: 'Poppins';
$dosis: 'Dosis';
$Lobster: 'Lobster';
$lato: 'Lato';

//Fontsize
$fontsize72: 72px;

//Border-radus
$borderradus25: 25px;
$borderradus36: 36px;
$borderradus30: 30px;

//Background
$bgbtn: linear-gradient(to right, #1a129f 66%, #6156F9 100%);

//Conteneur
$conteneur: 70%;

//Font-size
$ftsize15: 15px;
$ftsize16: 16px;
$ftsize20: 20px;
$ftsize25: 25px;
$ftsize28: 28px;
$ftsize30: 30px;
$ftsize32: 32px;
$ftsize38: 38px;
$ftsize40: 40px;
$ftsize50: 50px;


//margin
$margintop25: 25px;
$margintop35: 35px;

//Font weight
$fontw300: 300;
$fontw500: 500;
$fontw600: 600;


